/app/unused.txt
/app/seeds.txt
/app/class_files.txt
.gradle/
/gradle/
local.properties
.idea/
!.idea/.name
/build/
/app/build/
!/app/build/outputs/mapping
*.iml
*.apk
*.db
app/libs/
app/src/androidTest/
app/src/main/res/values-v14/
projectFilesBackup/
