<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.faendir.lightning_launcher.multitool">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MultiTool"
        android:allowBackup="true"
        android:icon="@drawable/ic_multitool"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".launcherscript.LauncherLoad"
            android:exported="true"
            android:label="@string/browse_name">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.ENUMERATE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/browse_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gesture.GestureActivity"
            android:label="@string/title_activity_gesture"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.faendir.lightning_launcher.multitool.MainActivity" />
        </activity>
        <activity
            android:name=".util.IntentChooser"
            android:label="@string/title_activity_intent_chooser"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.faendir.lightning_launcher.multitool.gesture.GestureActivity" />
        </activity>
        <activity
            android:name=".gesture.LoadGesture"
            android:exported="true"
            android:label="@string/title_gestureLauncher">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.ENUMERATE" />
            </intent-filter>
        </activity>

        <service
            android:name=".music.DummyNotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".music.MusicManager"
            android:exported="true"
            tools:ignore="ExportedService" />
    </application>

</manifest>
