<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.faendir.lightning_launcher.multitool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.sonyericsson.home.permission.RECEIVE_BADGE"/>

    <application
        android:name=".MultiTool"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_multitool"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/browse_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gesture.GestureActivity"
            android:label="@string/title_activity_gesture"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.faendir.lightning_launcher.multitool.MainActivity" />
        </activity>
        <activity
            android:name=".gesture.IntentChooser"
            android:label="@string/title_activity_intent_chooser"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".badge.AppChooser"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".Loader"
            android:theme="@style/AppTheme.Translucent" />

        <activity-alias
            android:name=".LoadLauncherScript"
            android:exported="true"
            android:label="@string/browse_name"
            android:targetActivity=".Loader">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.ENUMERATE" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LoadGestureLauncher"
            android:exported="true"
            android:label="@string/title_gestureLauncher"
            android:targetActivity=".Loader">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.PLUGIN" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LoadMusicWidget"
            android:enabled="@bool/isLollipopOrHigher"
            android:exported="true"
            android:label="@string/title_musicWidget"
            android:targetActivity=".Loader">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.PLUGIN" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LoadDrawer"
            android:exported="true"
            android:label="@string/title_drawer"
            android:targetActivity=".Loader">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.PLUGIN" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".toggleImmersive"
            android:exported="true"
            android:label="@string/title_immersive"
            android:targetActivity=".Loader">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.ENUMERATE" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LoadAnimation"
            android:exported="true"
            android:label="@string/title_animation"
            android:targetActivity=".Loader">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.PLUGIN" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LoadBadge"
            android:exported="true"
            android:label="@string/title_badge"
            android:targetActivity=".Loader">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.PLUGIN" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".util.notification.NotificationDistributorService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver android:name=".badge.BadgeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BADGE_COUNT_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.counter.SEND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.anddoes.launcher.COUNTER_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.launcher.action.UPDATE_SHORTCUT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.htc.launcher.action.SET_NOTIFICATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sonyericsson.home.action.UPDATE_BADGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="launcher.action.CHANGE_APPLICATION_NOTIFICATION_NUM" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".util.provider.DataProvider"
            android:authorities="com.faendir.lightning_launcher.multitool.provider"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>
